{% extends 'store/base.html' %}
{% load static %}

{% block content %}
    {% if user.is_superuser %}
        <h1>Add a Product</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" class="btn btn-outline-secondary">
        </form>
        <br><br><br>
    {% else %}
        <br>
        <h1>Oops...</h1>
        <br>
        <p>You are not authorised to view this page. If you are think that you are seeing this
            message in error please contact the site Administrator.
        </p>
        <br>
        <a class="btn btn-outline-secondary" href="{% url 'store' %}">Back</a>
    {% endif %}
{% endblock content %}