{% extends 'store/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <a style="float: left; margin: 5px;" class="btn btn-outline-secondary" href="{% url 'storelist' %}"
                aria-label="Continue shopping">&#x2190; Continue Shopping</a>
                <a style="float: right; margin: 5px;" class="btn btn-outline-secondary" href="{% url 'checkout' %}"
                aria-label="Go to checkout">
                  Checkout</a>
                <br><br><br>
                <table class="table">
                    <tr>
                        <th><h5>Items: <strong>{{order.get_cart_items}}</strong></h5></th>
                        <th><h5>Total:<strong> €{{order.get_cart_total|floatformat:2|intcomma}}</strong></h5></th>
                    </tr>
                </table>
            </div>
            <br>
        </div>
    </div>
    <h5>Your items:</h5>
    <br>
    <div id="item-selection" class="row">
      {% for item in items %}
        <div class="col">
          <div class="card card-element mx-auto" style="width: 18rem;">
            <img class="card-img-top thumbnail" src="{{item.product.image.url}}" alt="{{product.title}}">
            <div class="card-body">
              <p><strong>Item: </strong>{{item.product.title}}</p>
              <p><strong>Price: </strong>€{{item.product.price|floatformat:2|intcomma}}</p>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Quantity</th>
                    <th scope="col">Add/Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><p class="quantity">{{item.quantity}}</p></td>
                    <td>
                      <div class="quantity">
                        <img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="https://res.cloudinary.com/dr8qa0p0e/image/upload/v1673106803/fmjm0q6kqn7tck3son8a.png">
                        <img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="https://res.cloudinary.com/dr8qa0p0e/image/upload/v1673106816/krr6t3dvaiy5kr7r9c39.png">
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p><strong>Total: </strong>€{{item.get_total|floatformat:2|intcomma}}</p>
            </div>
          </div>
          <br>
        </div>
      {% endfor %}
    </div>
{% endblock content %}