{% extends 'store/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div style="padding: 20px;" class="box-element">
                {% if user.is_superuser %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'product_update' product.slug product.pk %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'product_delete' product.slug product.pk %}">Delete</a>
                    </div>
                    <br>
                {% endif %}
                <h1>{{product.manufacturer}}</h1>
                <hr>
                <h3>{{product.title}}</h3>
                <img class="card-img-top" src="{{product.image.url}}" alt="{{product.title}}">
                <br><br>
                <hr>
                <h3>Details</h3>
                <br>
                <p>{{product.description}}</p>
                <br>
                <h4>Licence type: {{product.licence}}</h4>
                <br>
                <h4><strong>
                €{{product.price|floatformat:2|intcomma}}
                </strong></h4>
                <br>
                {% if user.is_authenticated %}
                    <button data-bs-toggle="modal" data-bs-target="#add-to-cart" data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                    <a class="btn btn-outline-secondary" href="{% url 'storelist' %}" aria-label="Return to store">Back</a>
                {% else %}
                    <button data-bs-toggle="modal" data-bs-target="#login-or-register" data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                    <a class="btn btn-outline-secondary" href="{% url 'storelist' %}" aria-label="Return to store">Back</a>
                {% endif %}
                <br><br>
                <hr>
                <br>
                <h4>Comments...</h4>
                <br>
                {% if user.is_authenticated %}
                    <a href="{% url 'comment_add' product.slug product.pk %}" aria-label="Comment">Leave a comment</a>
                    <br>
                {% else %}
                    <p>
                        You must be signed-in to comment. Please 
                        <a href="{% url 'login' %}" aria-label="Sign in to acount">sign in</a> or 
                        <a href="{% url 'register' %}" aria-label="Register an account">register</a>
                    </p>
                {% endif %}
                <br>
                {% if not product.comments.all %}
                    No comments yet...Be the first to comment!
                    <br><br>
                {% else %}
                    {% for comment in product.comments.all %}
                        <strong>
                            {{comment.name}} - 
                            {{comment.date_added}}
                        </strong>
                        <br>
                        {{comment.body}}
                        <br><br>
                    {% endfor %}
                {% endif %}
                {% if user.is_authenticated %}
                    <a href="{% url 'comment_add' product.slug product.pk %}" aria-label="Comment">Leave a comment</a>
                    <br>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
{% endblock content%}