{% extends 'store/base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div style="padding: 20px;" class="box-element">
                    {% if user.is_superuser %}
                        <div>
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'product_update' product.slug product.pk %}">Update</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'product_delete' product.slug product.pk %}">Delete</a>
                        </div>
                        <br>
                    {% endif %}
                    <h1>{{product.manufacturer}}</h1>
                    <hr>
                    <h3>{{product.title}}</h3>
                    <img class="card-img-top" src="{{product.image.url}}" alt="{{product.title}}">
                    <br><br>
                    <hr>
                    <h3>Details</h3>
                    <br>
                    <p>{{product.description}}</p>
                    <br>
                    <h4>Licence type: {{product.licence}}</h4>
                    <br>
                    <h4><strong>
                        €{{product.price|floatformat:2|intcomma}}
                    </strong></h4>
                    <br>
                    {% if user.is_authenticated %}
                        <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                        <a class="btn btn-outline-secondary" href="{% url 'storelist' %}">Back</a>
                    {% else %}
                        <button data-bs-toggle="modal" data-bs-target="#login-or-register" data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                        <a class="btn btn-outline-secondary" href="{% url 'storelist' %}">Back</a>
                    {% endif %}
                    <br><br>
                    <hr>
                    <br>
                    <h4>Comments...</h4>
                    <br>
            
                    <!-- Comment Section -->
                    {% if not product.comments.all %}
                        <br>
                        No comments yet...Be the first to comment!
                        <br>
                    {% else %}
                        {% for comment in product.comments.all %}
                            {% if comment.approved != False %}
                                <strong>
                                    {{comment.name}} - 
                                    {{comment.date_added}}
                                </strong>
                                <br>
                                {{comment.body}}
            
                                <!--{% if comment.name == user.username %}
                                <div>
                                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="#">Update</a>
                                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="#">Delete</a>
                                  </div>
                                {% endif %}-->
                                
                                <br><br>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <br>
            
                    <!-- Comment Form -->
                    <!--{% if commented %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                            Your comment is awaiting approval
                        </div>
                    {% else %}-->
                        {% if user.is_authenticated %}
                            <h3>Leave a comment:</h3>
                            <br>
                            <p>Posting as: {{ user.username }}</p>
                            <form method="post" style="margin-top: 1.3em;">
                                {{ comment_form | crispy }}
                                {% csrf_token %}
                                <!--<button type="submit" class="btn btn-signup btn-lg">Submit</button>-->
                                <input type="submit" value="Submit" class="btn btn-outline-secondary">
                            </form>
                        {% else %}
                            <p>You must be signed-in to comment. Please sign-in or register an account.</p>
                            <div class="col">
                                <a href="{% url 'login' %}" class="btn btn-outline-secondary">Login</a>
                                <a href="{% url 'register' %}" class="btn btn-outline-secondary">Register</a>
                            </div>
                        {% endif %}
                    <!--{% endif %}-->
                    <br><br>
            
                <!-- New Comment Page -->
            </div>
        </div>
    </div>
    <br>
{% endblock content %}