{% extends 'store/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <div id="item-selection" class="row">
        {% if user.is_superuser %}
            <div>
                <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'product_create' %}">Add new product</a>
            </div>
        {% endif %}
        {% for product in object_list %}
            <div class="col">
                {% if user.is_superuser %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'product_update' product.slug product.pk %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'product_delete' product.slug product.pk %}">Delete</a>
                    </div>
                {% endif %}
                <div class="card card-element align-items-auto" style="width: 18rem;">
                    <img class="card-img-top thumbnail" src="{{product.image.url}}" alt="{{product.title}}">
                    <div class="card-body">
                        <h4 class="card-title"><strong>{{product.manufacturer}}</strong></h4>
                        <h6 class="card-title"><strong>{{product.title}}</strong></h6>
                        <hr>
                        <h4><strong>
                            €{{product.price|floatformat:2|intcomma}}
                        </strong></h4>
                        <hr>
                        {% if user.is_authenticated %}
                        <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                            <a class="btn btn-outline-secondary" href="{% url 'detail' product.slug product.pk %}">View</a>
                        {% else %}
                            <button data-bs-toggle="modal" data-bs-target="#login-or-register" data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                            <a class="btn btn-outline-secondary" href="{% url 'detail' product.slug product.pk %}">View</a>
                        {% endif %}
                    </div>
                </div>
                <br>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
