{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div style="padding: 40px;" class="box-element">
            <h1>Welcome!</h1>
            <br>
            <p>At Moto Madness we are the only store specialising in reconditioning factory second
                motorcycles from the Big Four Japanese manufacturers. We turn what would be production
                 waste into your dream machines at a heavy discount on average showroom prices.
            </p>
            <p>All bikes are imported new directly from Japan with 0 mileage. Our team of expert 
                mechanics and engineers carefully craft the machines into a state of perfect 
                roadworthiness and also ensure that all bikes are compliant with EU safety standards 
                and emissions regs.
            </p>
            <br><br>
            <div class="row">
                <div class="col">
                    <p>Please feel free to have a browse of our store and if you see anything you like 
                        register to purchase. </p>
                    <div>
                        <a href="{% url 'storelist' %}" class="btn btn-outline-secondary">Browse</a>
                    </div>
                    <br>
                </div>
            </div>
            <br>
            <div class="row">
                {% if not user.is_authenticated %}
                    <div class="col">
                        <p><strong>Registration</strong> is free and easy and allows you to maintain your cart 
                            and ask questions/comment on any bike you're interested in.</p>
                        <div>
                            <a href="{% url 'register' %}" class="btn btn-warning" aria-label="Register an account">Register</a>
                        </div>
                        <br>
                    </div>
                {% endif %}
            </div>
        </div>
        <br>
    </div>
</div>
<br>
<h3>New items just in....</h3>
<div id="store-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="https://res.cloudinary.com/dr8qa0p0e/image/upload/v1674202743/zjd54ml78ugmqq4pc9di.png" class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dr8qa0p0e/image/upload/v1674205146/hxspdtmi5377sgiqlbuf.png" class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dr8qa0p0e/image/upload/v1674202422/z6j1k95wmoimpw9vbys6.png" class="d-block w-100" alt="">
      </div>
    </div>
  </div>
{% endblock content %}