{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <h1>Welcome to Moto Madness!</h1>
    <br>
    <p>At Moto Madness we are the only store specialising in reconditioning factory second
        motorcycles from the Big Four Japanese manufacturers. We turn what would be production
        waste into your dream machines at a heavy discount on average showroom prices.
    </p>
    <p>All bikes are imported new directly from Japan with 0 mileage. Our team of expert 
        mechanics and engineers carefully craft the machines into a state of perfect 
        roadworthiness and also ensure that all bikes are compliant with EU safety standards 
        and emissions regs.
    </p>
</div>

<div class="row">
    <div class="col-lg-12">
        <div style="padding: 20px;" class="box-element">
            <h1>Welcome!</h1>
            <br>
            <p>At Moto Madness we are the only store specialising in reconditioning factory second
                motorcycles from the Big Four Japanese manufacturers. We turn what would be production
                 waste into your dream machines at a heavy discount on average showroom prices.
            </p>
            <p>All bikes are imported new directly from Japan with 0 mileage. Our team of expert 
                mechanics and engineers carefully craft the machines into a state of perfect 
                roadworthiness and also ensure that all bikes are compliant with EU safety standards 
                and emissions regs.
            </p>
            <p>Please feel free to have a browse of our store and if you see anything you like 
                register to purchase. Registration is free and easy and allows you to maintain your cart 
                and ask questions/comment on any bike you're interested in.
            </p>
            <br>
        </div>
        <br>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div style="padding: 20px;" class="box-element"></div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="box-element">
            <h1>Welcome!</h1>
            <br>
            <p>At Moto Madness we are the only store specialising in reconditioning factory second
                motorcycles from the Big Four Japanese manufacturers. We turn what would be production
                 waste into your dream machines at a heavy discount on average showroom prices.
            </p>
            <p>All bikes are imported new directly from Japan with 0 mileage. Our team of expert 
                mechanics and engineers carefully craft the machines into a state of perfect 
                roadworthiness and also ensure that all bikes are compliant with EU safety standards 
                and emissions regs.
            </p>
            <p>Please feel free to have a browse of our store and if you see anything you like 
                register to purchase. Registration is free and easy and allows you to maintain your cart 
                and ask questions/comment on any bike you're interested in.
            </p>
            <br>
        </div>
        <br>
    </div>
    <div class="col-lg-3">
        <div style="background-size: cover; background-size: contain; background-repeat: no-repeat;
        background-image: url('https://res.cloudinary.com/dr8qa0p0e/image/upload/v1674221308/zc0stbmbwtgjvpvepl0u.jpg');" 
        class="box-element">
            <div>
                <a href="{% url 'storelist' %}" class="btn btn-outline-secondary">Shop</a>
            </div>
            <br><br><br>
            <div>
                <a href="{% url 'storelist' %}" class="btn btn-outline-secondary">Shop</a>
            </div>
            <br><br><br>
            <div>
                <a href="{% url 'storelist' %}" class="btn btn-outline-secondary">Shop</a>
            </div>
            <br><br><br>
        </div>
        <br>
    </div>
    <div class="col-lg-3">
        <div class="box-element">
            <div style="background-size: cover; background-size: contain; background-repeat: no-repeat;
            background-image: url('https://res.cloudinary.com/dr8qa0p0e/image/upload/v1674221308/zc0stbmbwtgjvpvepl0u.jpg');">
                <p>Please feel free to have a browse of our store and if you see anything you like 
                register to purchase.</p>
            </div>
            <div>
                <a href="{% url 'storelist' %}" class="btn btn-outline-secondary">Store</a>
            </div>
        </div>
        <br>
    </div>
</div>
{% endblock content %}