{% extends 'store/base.html' %}
{% load static %}
{% block content %}
    <div class="box-element" style="text-align: center; padding: 40px;">
        <h1>Login</h1>
        <br>
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input id="username" type="text" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input id="password" type="password" name="password">
                <br><br>
                <p>
                    Not a member? Register an account 
                    <a href="{% url 'register' %}" aria-label="Register an account">here</a>
                </p>
            </div>
            <input type="submit" value="Submit" class="btn btn-outline-secondary">
        </form>
    </div>
    <br><br><br>
{% endblock content %}
