{% extends 'store/base.html' %}
{% load static %}
{% block content %}

    {% if form.errors %} 
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            There was an error processing your form. Please check you inputs and try again.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    <div class="box-element">
        <h1>Register</h1>
        <br>
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <input type="submit" value="Submit" class="btn btn-outline-secondary" aria-label="Submit">
        </form>
    </div>
    <br><br><br>
{% endblock content %}